__pycache__
.coverage
.env
.idea
.vscode
.vscode/
dois/
processed
sample-dump/*.ndjson
test_dois
venv/
dcdump/
tmp
.ipynb_checkpoints/
sphinx-documentation/_build/*
sphinx-documentation/adapters.api.rst
sphinx-documentation/adapters.databases.rst
sphinx-documentation/adapters.rst
sphinx-documentation/adapters.storages.rst
sphinx-documentation/application.rst
sphinx-documentation/config.rst
sphinx-documentation/domain.api.rst
sphinx-documentation/domain.databases.rst
sphinx-documentation/domain.model.rst
sphinx-documentation/domain.rst
sphinx-documentation/domain.storages.rst
sphinx-documentation/project.rst
sphinx-documentation/project.server.main.rst
sphinx-documentation/project.server.rst
